<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="registerForm" (ngSubmit)="register()" class="">
        
        <h2 class="mt-5">Kayıt Ol</h2>

        <div class="form-group">
            <input type="text" id="ad" name="ad" formControlName="ad" class="form-control" placeholder="Adınızı Giriniz"
              autofocus>
            <span class="help-block" *ngIf="registerForm.get('ad').hasError('required') && registerForm.get('ad').touched">
             Adınız gerekli
            </span>
          </div>
          <div class="form-group">
              <input type="text" id="soyad" name="soyad" formControlName="soyad" class="form-control" placeholder="Soyadınızı Giriniz"
                autofocus>
              <span class="help-block" *ngIf="registerForm.get('soyad').hasError('required') && registerForm.get('soyad').touched">
                Soyadınız
              </span>
            </div>

        <div class="form-group">
            <input type="text" id="kullaniciAdi" name="kullaniciAdi" formControlName="kullaniciAdi" class="form-control" placeholder="Kullanıcı adı"
              autofocus>
            <span class="help-block" *ngIf="registerForm.get('kullaniciAdi').hasError('required') && registerForm.get('kullaniciAdi').touched">
              Kullanıcı adı gerekli
            </span>
          </div>
          <div class="form-group">
            <input type="password" id="password" name="password" formControlName="password" class="form-control" placeholder="Şifre">
            <span class="help-block" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
              Şifre gerekli
            </span>
            <span class="help-block" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
              Şifre en az 4 karakter olmalıdır
            </span>
            <span class="help-block" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
              Şifre 8 karakteri geçemez
            </span>
        
          </div>
          <div class="form-group">
            <input type="password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" class="form-control"
              placeholder="Şifre">
            <span class="help-block" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
              Şifre doğrulama gerekli
            </span>
            <span class="help-block" *ngIf="registerForm.get('confirmPassword').touched 
                    && registerForm.hasError('mismatch')">
              Şifreler uyumsuz
            </span>
        
          </div>

          <button class="btn btn-lg btn-primary btn-block" [disabled]="!registerForm.valid" type="submit">Register</button>
        <h6>{{ registerForm.value | json }}</h6>
        <h6>{{ registerForm.status | json }}</h6>
      </form>
    </div>
  </div>
</div>
